.green-button {
  background: var(--green);
  color: var(--white);
  border-radius: 18px;
  height: 36px;
  font-weight: 700;
  width: 100%;
}

@media (min-width: 700px) {
  .green-button {
    width: 80%;
  }
}
