.dashboard {
    background-color: var(--background);
    position: relative;

    padding-bottom: 25px;

    // padding: 0 0 25px 15px;


    .float-img {
        position: absolute;
        left: 0;
        top: 8px;
        z-index: 10;
    }

    & > * {
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                color: var(--headline);
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
            }

            .leaves {
                display: flex;
                gap: 5px;
                color: var(--outline);

                svg {
                    transform: translateY(3px);
                }
            }
        }
    }

    .summary {
        margin: 0 15px 25px;
        padding-top: 35px;

        .date {
            font-size: 14px;
            color: var(--green);
            padding: 5px 0;
        }

        .summary-box {
            position: relative;
            height: 139px;
            border-radius: 12px;
            padding: 18px 16px;
            background-image: linear-gradient(#92d192, #d3ead3);
            box-shadow: 0 24px 32px rgb(15, 100, 20, 0.2);
            overflow: hidden;

            .svg-bg svg {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            .summary-text {
                position: absolute;
                top: 18px;
                letter-spacing: 1px;
                line-height: 32px;

                h3 {
                    /* color: var(--headline); */
                    color: white;
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 3px;
                }

                h4 {
                    /* color: var(--headline); */
                    color: white;
                    font-size: 16px;
                    font-weight: 700;

                    span {
                        color: black;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: normal;
                        font-family: roboto;
                        margin-inline-start: 5px;

                        &::before {
                            margin: 2px;
                            content: "₪";
                            font-size: 16px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        // .summary-svg {
        //     position: absolute;
        //     left: 0;
        //     top: 53px;
        // }
    }

    .daily-report {
        margin: 25px 15px;
        background-color: white;
        border-radius: 12px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .report-trans {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            gap: 15px;

            & > * {
                border-radius: 12px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                height: 120px;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
                padding: 15px 0;
            }
        }
    }

    .weekly-tasks {
        margin: 25px 15px;
        background-color: white;
        border-radius: 12px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .week-timeline {
            display: flex;
            justify-content: space-between;
            color: #c4d4c8;

            & > * {
                line-height: 26px;
                width: 26px;
                border-radius: 50px;
                text-align: center;
            }

            .past {
                color: var(--old);
                font-weight: 400;
            }

            .today {
                background-color: var(--deco);
                color: var(--green);
                font-weight: 700;
            }

            .future {
                color: var(--green);
                font-weight: 700;
            }
        }

        .tasks {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .task-preview {
                display: flex;
                align-items: center;
                gap: 5px;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
                padding: 0 10px;
                border-radius: 8px;
                height: 72px;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 8px;
                    height: 56px;
                    width: 56px;
                }

                .title {
                    flex-grow: 1;
                    padding-inline-start: 7px;

                    h4 {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;

                        &.done {
                            color: var(--done);
                        }
                    }
                }

                .status {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &.done {
                        .leaves {
                            color: var(--outline2);
                            pre {
                                color: var(--green);
                            }
                        }
                    }

                    .leaves {
                        display: flex;
                        align-items: center;
                    }

                    .todo {
                        transform: translateY(2px);
                    }
                }
            }
        }
    }

    .target {
        margin: 25px 15px 0;
        background-color: white;
        border-radius: 12px;
        /* padding: 15px; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 267px;
        position: relative;
        overflow: hidden;

        .title {
            padding: 15px 15px 0;
        }

        // progress {
        //     width: 100%;
        // }

        // label {
        //     color: white;
        //     background-color: black;
        //     padding: 2px 8px;

        //     // &::after {
        //     //     margin: 2px;
        //     //     content: "₪";
        //     //     font-size: 16px;
        //     //     font-weight: normal;
        //     //     font-weight: 400;
        //     // }
        // }

        // .progress-bar {
        //     padding: 0 15px;

        //     .PrivateValueLabel-circle-9 {
        //         width: 125px;
        //         font-size: 16px;
        //         transform: rotate(0);
        //         border-radius: 2px;
        //         background-color: black;
        //         color: white;

        //         transform: translateX(-50px);

        //         &::after {
        //             margin: 2px;
        //             content: "₪";
        //             font-size: 16px;
        //             font-weight: normal;
        //             font-weight: 400;
        //         }
        //     }
        // }

        .progress-bar {
            width: 100%;
            padding: 0 15px;

            .main-bar {
                position: relative;
                margin: 60px 0 24px;
                /* height: 120px; */

                & > * {
                    position: absolute;
                }

                .mini-bar {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    &.income {
                        width: 100%;
                        left: 0;
                        bottom: 0;
                        color: var(--outline2);
                    }

                    &.expenses {
                        width: 100%;
                        right: 0;
                        bottom: 0;
                        color: var(--outline2);
                    }

                    h4 {
                        font-weight: 400;
                        font-size: 16px;

                        &.income {
                            text-align: left;

                            span {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                /* font-family: roboto; */
                                color: var(--green);
                            }
                        }

                        &.expenses {
                            span {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                /* font-family: roboto; */
                                color: var(--orange);

                                &::before {
                                    margin: 2px;
                                    content: "₪";
                                    font-size: 16px;
                                    font-weight: normal;
                                    font-weight: 400;
                                }
                            }
                        }
                    }

                    .income-bar {
                        height: 18px;
                        border-radius: 100px;
                        background-color: var(--income-bar);
                        border: 1px solid white;
                    }
                    .expenses-bar {
                        height: 18px;
                        border-radius: 100px;
                        background-color: var(--expenses-bar);
                        border: 1px solid white;
                    }
                }
            }

            .goal {
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 100%;

                & > * {
                    position: absolute;
                }

                .line {
                    top: -18px;
                    background-color: white;
                    width: 2px;
                    height: 17px;
                    box-shadow: 1px 1px 1px var(--outline2);
                }
                .triangle {
                    top: 3px;
                    // width: 0;
                    // height: 0;
                    border-style: solid;
                    border-width: 0 10px 8px 10px;
                    border-color: transparent transparent black transparent;
                }

                .label {
                    /* width: 110px; */
                    width: 125px;
                    text-align: center;
                    top: 10px;
                    background-color: black;
                    border-radius: 2px;

                    h4 {
                        color: white;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 36px;
                        padding: 0 5px;

                        span {
                            display: inline-block;
                            /* font-family: roboto; */
                            font-weight: 700;
                            letter-spacing: 1px;

                            &::before {
                                margin: 2px;
                                content: "₪";
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                    }
                }

                // .left {
                //     position: absolute;
                //     top: 174px;
                //     flex-grow: 1;
                //     display: flex;
                //     flex-direction: column;
                //     height: 92px;

                //     h5 {
                //         font-weight: 400;
                //         font-size: 16px;
                //         line-height: 24px;
                //         color: var(--outline2);
                //         letter-spacing: 0.1px;
                //         padding: 0 15px;
                //     }

                //     .total {
                //         margin-top: 5px;
                //         display: flex;
                //         justify-content: space-between;
                //         align-items: center;
                //         flex-grow: 1;
                //         padding: 0 15px;
                //         background-color: var(--income-bar);
                //         /* line-height: 80px; */

                //         h2 {
                //             font-size: 36px;
                //             font-weight: 700;
                //             color: white;
                //             line-height: 50px;
                //             &::before {
                //                 margin: 2px;
                //                 content: "₪";
                //                 font-size: 24px;
                //                 font-weight: normal;
                //                 font-weight: 400;
                //             }
                //         }

                //         button.more-details {
                //             outline: none;
                //             border: none;
                //             border-radius: 100px;
                //             background-color: var(--green);
                //             color: white;
                //             font-weight: 700;
                //             font-size: 14px;
                //             line-height: 24px;
                //             letter-spacing: 1px;
                //             width: 131px;
                //             height: 39px;
                //         }
                //     }
                // }
            }
        }

        .left {
            width: 100%;
            position: absolute;
            top: 174px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            height: 92px;

            h5 {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: var(--outline2);
                letter-spacing: 0.1px;
                padding: 0 15px;
            }

            .total {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                padding: 0 15px;
                background-color: var(--income-bar);

                h2 {
                    font-size: 36px;
                    font-weight: 700;
                    color: white;
                    line-height: 50px;

                    &::before {
                        margin: 2px;
                        content: "₪";
                        font-size: 24px;
                        font-weight: normal;
                        font-weight: 400;
                    }
                }

                button.more-details {
                    outline: none;
                    border: none;
                    border-radius: 100px;
                    background-color: var(--green);
                    color: white;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 1px;
                    width: 131px;
                    height: 39px;
                }
            }
        }
    }
}
