/* Colors */
:root {
  --green: #22aa22;
  --white: #cfffdc;
  --orange: #f8a20c;
  --background: #e5e5e5;
  --headline: #134239;
  --deco: #d3ead3;
  --outline2: #8fae98;
  --outline: #282729;
  --old: #ccd4c4;
  --done: #ddeedd;
  --income-bar: #93d193;
  --expenses-bar: #ec9b29;
}
